.home {
  width: 100%;
  height: auto;
  background-color: #24262a;
  padding-bottom: 22px !important;
  overflow: hidden !important;
}

.home .about-info h1 {
  color: #fff;
  padding-top: 100px !important;
  padding-left: 25px !important;
  font-weight: bold;
  margin-bottom: 15px !important;
}
.home .about-info h1 .span-1 {
  color: #a0aec0;
  /* margin-bottom: 102px !important; */
  font-size: 27px;
}
.home .about-info h1 .span-2 {
  color: #64d8c8;
}

.home .about-info p {
  color: #d1d1d1;
  font-size: 23px !important;
  padding-left: 25px !important;
  margin-bottom: 22px !important;
}

button {
  width: 30% !important;
  margin-bottom: 50px !important;
  margin-left: 30px !important;
  position: relative;
  padding: 10px 20px !important;
  border-radius: 7px;
  border: 1px solid #64d8c8;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button:hover {
  background: #64d8c8;
  /* box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815); */
  box-shadow: 0 0 30px 5px #64d8c8;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

/* cosial media  */

ul {
  list-style: none;
  width: 100% !important;
  margin-bottom: 20px !important;
  margin-top: 50px !important;
}

.example-2 {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-left: 25px !important;
  /* padding: 3px !important; */
}
.example-2 .icon-content {
  margin: 0 10px;
  padding-right: 6px !important;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #181717;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="facebook"] .filled,
.example-2 .icon-content a[data-social="facebook"] ~ .tooltip {
  background-color: #1877F2
;
}

.example-2 .icon-content a[data-social="whatsapp"] .filled,
.example-2 .icon-content a[data-social="whatsapp"] ~ .tooltip {
  background-color: #25D366;
}

/* img */

.img-info {
  display: inline-block;
}

.img-info .img-fluid {
  width: 60%;
  padding: 3px !important;
  margin-top: 60px !important;
  border: 2px solid #64d8c8;
  border-radius: 30px 60px 30px 60px !important;
  border: 2px solid #64d8c8;
  box-shadow: 0 0 25px rgba(100, 216, 200, 0.4);
  transform-origin: bottom left; /* تبدأ من بوز الشمال السفلي */
  animation: bottomTilt 5s ease-in-out infinite alternate;
}

@keyframes bottomTilt {
  0% {
    transform: rotate(-2deg) translateY(0);
  }
  100% {
    transform: rotate(2deg) translateY(0);
    transform-origin: bottom right; /* لما تميل ناحيه اليمين تحت */
  }
}

/* responsive for mobiles */
@media (max-width: 767px) {
  .home .img-info {
    text-align: center !important;
  }

  .home .img-info {
    margin: auto !important;
  }
  .home .img-info .img-fluid {
    width: 60% !important;
    margin-top: 35px !important;
  }

  .home .about-info h1 {
    padding-top: 20px !important;
  }

  .home .about-info .social-media-link {
    text-align: center !important;
    margin-bottom: 20px !important;
  }

  .example-2 {
    display: flex;
    justify-content: center !important ;
    margin-left: 0px !important;
  }

  .home .about-info button {
    text-align: center !important;
    margin-left: 85px !important;
    width: 60% !important;
  }
}

/* responsive for tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .home .img-info {
    text-align: center !important;
    /* width: 100% !important; */
    /* height: auto !important; */
  }

  .home .img-info .img-fluid {
    width: 60% !important;
    margin-top: 25px !important;
    margin-bottom: 15px !important;
  }

  .home .about-info h1 {
    padding-top: 20px !important;
    text-align: center !important;
  }

  .home .about-info p {
    text-align: center !important;
  }

  .home .about-info .social-media-link {
    text-align: center !important;
    margin-bottom: 25px !important;
  }

    .example-2 {
    display: flex;
    justify-content: center !important ;
    margin-left: 0px !important;
  }

  .home .about-info button {
    margin-left: 280px !important;
  }
}
