<section class="angular-projects">
  <div class="container-fluid">


    <div class="project-info">
      <div class="row">
        <div class="col-lg-6 col-sm-12 col-md-12 order-lg-1 order-2">
          <div class="project-details">
            <h3>Ecommerce-App</h3>
            <p> Technologies Used: HTML5 & CSS3 &Bootstrap & Ts & angular & apis — 100% Responsive Design.</p>
            <a href="https://shop-ecommerce-one-alpha.vercel.app/home" class="btn btn-danger">
              Live Demo

            </a>

            <a href="https://github.com/Omar-abdelbary/ShopEcommerce" class="btn btn-warning">
              GitHub Repo
            </a>
            <ul class="list">
              <li><a>Html</a></li>
              <li><a>css</a></li>
              <li><a>bootstrap</a></li>
              <li><a>angularV17</a></li>
            </ul>

          </div>
        </div>

        <div class="col-lg-6 col-sm-12 col-md-12 order-lg-2 order-1">
          <div class="img-project">
            <img src="./assets/img/angular1.jpg" class="img-fluid" alt="img-project" loading="lazy">
          </div>
        </div>
      </div>
    </div>




    <div class="project-info">
      <div class="row">
        <div class="col-lg-6 col-sm-12 col-md-12 order-lg-1 order-2">
          <div class="project-details">
            <h3>FreshCart</h3>
            <p> Technologies Used: HTML5 & CSS3 &Bootstrap & Ts & angular & apis — 100% Responsive Design.</p>
            <a href="https://y-ten-blond.vercel.app/register" class="btn btn-danger" >
              Live Demo

            </a>

            <a  class="btn btn-warning">
              GitHub Repo
            </a>
            <ul class="list">
              <li><a>Html</a></li>
              <li><a>css</a></li>
              <li><a>bootstrap</a></li>
              <li><a>angularV17</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-6 col-sm-12 col-md-12 order-lg-2 order-1">
          <div class="img-project">
            <img src="./assets/img/angular2.jpg" class="img-fluid" alt="img-project" loading="lazy">
          </div>
        </div>
      </div>
    </div>




    <div class="project-info">
      <div class="row">
        <div class="col-lg-6 col-sm-12 col-md-12 order-lg-1 order-2">
          <div class="project-details">
            <h3>UserManagementSystem</h3>
            <p> Technologies Used: HTML5 & CSS3 &Bootstrap & Ts & angular & apis — 100% Responsive Design.</p>
            <a href="https://user-management-beta-liard.vercel.app/login" class="btn btn-danger">
              Live Demo

            </a>

            <a href="https://github.com/Omar-abdelbary/userManagement" class="btn btn-warning">
              GitHub Repo
            </a>
            <ul class="list">
              <li><a>Html</a></li>
              <li><a>css</a></li>
              <li><a>bootstrap</a></li>
              <li><a>angularV17</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-6 col-sm-12 col-md-12 order-lg-2 order-1">
          <div class="img-project">
            <img src="./assets/img/angular3.jpg" class="img-fluid" alt="img-project">
          </div>
        </div>
      </div>
    </div>






    <div class="project-info">
      <div class="row">
        <div class="col-lg-6 col-sm-12 col-md-12 order-lg-1 order-2">
          <div class="project-details">
            <h3>seafarer-management-system</h3>
            <p> Technologies Used: HTML5 & CSS3 &Bootstrap & Ts & angular & apis — 100% Responsive Design.</p>
            <a href="https://seafarer-management-system-beige.vercel.app/login" class="btn btn-danger">
              Live Demo

            </a>

            <a href="https://github.com/Omar-abdelbary/Seafarer-Management-System" class="btn btn-warning">
              GitHub Repo
            </a>
            <ul class="list">
              <li><a>Html</a></li>
              <li><a>css</a></li>
              <li><a>bootstrap</a></li>
              <li><a>angularV17</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-6 col-sm-12 col-md-12 order-lg-2 order-1">
          <div class="img-project">
            <img src="./assets/img/angular4.jpg" class="img-fluid" alt="img-project">
          </div>
        </div>
      </div>
    </div>


  </div>
</section>
