

.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(67, 177, 157);
  border: none;
  color: #fff;
  padding: 12px 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 22px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: 0.3s;
  z-index: 9999;
}

.scroll-top:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}
