<section class="skills-info">
  <div class="container-fluid">


    <div class="col-12">
      <div class="skills-info-head">
        <h3>Technical Skills</h3>
      </div>
    </div>


    <div class="core-stack-info">
      <h3>Core Stack</h3>


      <div class="core-stack-list">
        <div class="img-list">
          <img src="./assets/img/Deprecated_Angular_logo.svg" class="img-fluid" loading="lazy" alt="angular img">
          <img src="./assets/img/Typescript_logo_2020.svg.png" class="img-fluid" loading="lazy" alt="type script img">
          <img src="./assets/img/javascript-logo.svg" class="img-fluid" loading="lazy" alt="js img">
          <img src="./assets/img/ngrx.svg" class="img-fluid" alt="ngrx img" loading="lazy">
          <img src="./assets/img/rxjs-logo-png_seeklogo-437295.png" loading="lazy" class="img-fluid" alt="rxjs img">
        </div>


      </div>
    </div>



    <div class="web-technology">
      <h5>Web Technologies</h5>


      <div class="web-list">
        <div class="img-list">
          <img src="./assets/img/html.png" class="img-fluid" alt="angular img">
          <img src="./assets/img/css.png" class="img-fluid" alt="angular img">
          <img src="./assets/img/bootstrap.png" class="img-fluid" alt="angular img">


        </div>
      </div>
    </div>




    <div class="dev-tools">
      <h5>Development Tools</h5>
      <div class="dev-tools-list">
        <div class="img-list">
           <img src="./assets/img/npm.svg" class="img-fluid" alt="npm img">
           <img src="./assets/img/git.png" class="img-fluid" alt="git img">
           <img src="./assets/img/webpack.svg" class="img-fluid" alt="webpack img">
           <img src="./assets/img/postman-icon.svg" class="img-fluid" alt="postman img">

        </div>
      </div>
    </div>









































  </div>
</section>
