

.resume-info {
  width: 100%;
  min-height: 100vh !important;
  background-color: #24262a;
  /* margin-bottom: 100px !important; */
  padding-bottom: 30px !important;
}

.resume-info .list {
  text-align: center !important;
}

.resume-info .list ul {
  margin-top: 50px !important;
  margin-left: 20px !important;
}

.resume-info .list ul li  {
  background-color: rgb(52, 68, 70);
  margin-bottom: 15px !important;
  border-radius: 10px;
  padding: 7px !important;
  cursor: pointer;
}

.resume-info .list ul li a {

  text-decoration: none !important;
  font-size: 20px;
  color: #fff;
}

.resume-info .routing-components {
  height: auto !important;
}
