<section class="resume-info">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-sm-12 col-md-12">
        <div class="list">
          <ul>
            <li routerLinkActive="active-list"><a  routerLink="experience"  >Experience</a></li>
            <li routerLinkActive="active-list"><a routerLink="education"  >Education</a></li>
            <li routerLinkActive="active-list"><a  routerLink="skills"  >Skills</a></li>
          </ul>
        </div>
      </div>



      <div class="col-lg-8 col-sm-12 col-md-12">
        <div class="routing-components">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</section>
