<section class="experience-info  ">
  <div class="container">
    <div class="experience-info-head">
      <h3> <span>Professional</span> Experience</h3>
    </div>


    <div class="experience-about">

      <div class="experience-about-head">
        <h5>Angular Developer Intern.</h5>
        <p>06/2025 – 11/2025</p>
      </div>


      <p>at Samy Elmetwaly Group (SEG) • Mansoura , Egypt</p>
      <p>✦Developed and maintained ERP and CRM systems using Angular 17, focusing on
        creating interactive, user-friendly, and high-performance interfaces. Implemented
        gamification features to boost user engagement, collaborated with backend teams
        for seamless API integration, and contributed to enhancing code quality, scalability,
        and localization support across multiple devices.
      </p>
    </div>








  </div>
</section>
